/* src/App.css */

/* Definirea variabilelor CSS */
:root {
  --background-color: #1c1c1c;
  --text-color: #f0f0f0;
  --accent-color: #ff6f61;
  --secondary-text-color: #b3b3b3;
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-family: "Arial, sans-serif";
}

/* Stiluri globale */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  color: var(--accent-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: var(--secondary-text-color);
  font-size: var(--font-size-medium);
}

/* Poți adăuga alte stiluri globale aici */
